<aside
  class="fixed left-0 top-0 h-screen w-72 bg-gradient-to-b from-indigo-600 to-indigo-800 text-white shadow-2xl z-40 transition-transform duration-300 ease-in-out"
>
  <div class="flex items-center justify-between px-6 py-6 pt-20 lg:pt-6">
    <div class="flex items-center gap-3 text-white">
      <i-lucide [img]="FolderCog"></i-lucide>
      <span class="font-bold text-xl">SmartSpend</span>
    </div>
    <button
      (click)="onCloseSidebar()"
      class="lg:hidden p-2 hover:bg-white/10 rounded-lg transition-colors duration-200"
    >
      <i-lucide [img]="X"></i-lucide>
    </button>
  </div>

  <nav class="px-4 py-2">
    <ul class="space-y-2">
      @for (item of menuItems; track item.label) {
        <li>
          <a
            [routerLink]="item.route"
            routerLinkActive="'text-white bg-white/20 shadow-lg translate-x-2'"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="onMenuItemClick(item)"
            class="flex items-center gap-4 px-6 py-3 mx-2 rounded-xl font-medium transition-all duration-200 group relative overflow-hidden text-white/80 hover:text-white hover:bg-white/10"
            #rla="routerLinkActive"
          >
            <div
              class="absolute inset-0 bg-white/10 rounded-xl scale-0 group-hover:scale-100 transition-transform duration-300 origin-center"
            ></div>
            <div class="relative z-10 text-xl">
              <i-lucide [img]="item.icon"></i-lucide>
            </div>
            <span class="relative z-10">{{ item.label }}</span>
            @if (rla.isActive) {
              <div
                class="absolute right-4 top-1/2 transform -translate-y-1/2 w-2 h-2 bg-white rounded-full"
              ></div>
            }
          </a>
        </li>
      }
    </ul>

    <div class="mt-8 pt-4 border-t border-white/20">
      <a
        routerLink="/settings"
        routerLinkActive="'text-white bg-white/20 shadow-lg  translate-x-2'"
        class="flex items-center gap-4 px-6 py-3 mx-2 rounded-xl font-medium transition-all duration-200 group relative overflow-hidden text-white/80 hover:text-white hover:bg-white/20"
        #settingsRla="routerLinkActive"
      >
        <div class="relative z-10 text-xl">
          <i-lucide [img]="Cog"></i-lucide>
        </div>
        <span class="relative z-10">Configuración</span>
        @if (settingsRla.isActive) {
          <div
            class="absolute right-4 top-1/2 transform -translate-y-1/2 w-2 h-2 bg-white rounded-full"
          ></div>
        }
      </a>
    </div>
  </nav>

  <div class="absolute bottom-4 left-0 right-0 px-6 text-center">
    <p class="text-xs text-white/60">MoneyManager v1.0</p>
  </div>
</aside>
